image = user.latestImage()

article.user.box
  h2
    a(href="/users/#{user.path}")
      = user.username

  if(typeof image !== 'undefined')
    a(href="/users/#{user.path}/images/#{image.id}")
      img(src="#{imagepath}#{image.path}")
