h1= user.username

ul
  each image, id in user.images
    li
      a(href="/users/#{user.path}/images/#{id}")
        img(src="#{imagepath}#{image.path}")
      br
      form(method="post", action="/users/#{user.path}/images/#{id}")
        input(type="hidden", name="_method", value="delete")
        input(type="submit", name="submit", value="Delete")
